body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squares {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  height: 850px;
  border: solid;
  border-width: 2px;
  border-color: black;
}

#container div {
  margin: 0;
}

button {
  margin: 30px 0px;
  font-size: 30px;
  background-color: cornsilk;
  padding: 20px;
  border-radius: 50px;
  border-color:#6F4E37;
  color: #6F4E37;
  box-shadow: 0px 5px 5px #999;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: cornsilk;
  background-color:#6F4E37;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 5px #999;
}

#clear {
  color: cornsilk;
  background-color:#6F4E37
}

#clear:hover {
  color: #6F4E37;
  background-color: cornsilk;
}